altgraph==0.17.4
certifi==2023.7.22
charset-normalizer==3.3.0
DateTime==5.2
idna==3.4
importlib-metadata==6.8.0
jaraco.classes==3.3.0
keyring==24.2.0
macholib==1.16.3
modulegraph==0.19.6
more-itertools==10.1.0
py2app==0.28.6
pyobjc-core==10.0
pyobjc-framework-Cocoa==10.0
pyperclip==1.8.2
pytz==2023.3.post1
requests==2.31.0
rumps==0.4.0
urllib3==2.0.6
zipp==3.17.0
zope.interface==6.1
